*{
    box-sizing: border-box;

}

body {
    background-color: #1C1C1C;
    padding-top: 53px;
}

.app {
    height: 868px;
    width: 550px;
    background-color: #23252C;
    margin: 0 auto;


}

.info-profile {
    width: 317px;
    margin-top: 44px;
}

.info-name {
    font-size: 25px;
    color: #FFFFFF;
    line-height: 30px;
}

.info-spec {
    font-weight: 400;
    font-size: 13px;
    color: #F3BF99;
}

.info-web {
    font-weight: 400;
    font-size: 10px;
    color: #F5F5F5;
}

.btn-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
}

.btn {
    width: 115px;
    height: 34px;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

}

.btn-email {
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
}

.info-email {
    font-family: 'Inter', serif;
    font-size: 14px;
    color: #374151;
    margin-left: 10px;
}

.btn-linkedin {
    background: #5093E2;
}

.info-linkedin {
    font-family: 'Inter', serif;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 9px;
    padding-top: 9px;
}

main {
    margin-left: 150px;
    margin-right: 38px;
    text-align: left;
}

.title {
    font-size: 16px;
    line-height: 150%;
    color: #F5F5F5;

}

.text {
    font-weight: 400;
    font-size: 10px;
    color: #DCDCDC;
    overflow-wrap: normal;
    width: 300px;
}

footer {
    height: 64px;
    background: #161619;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.footer-img {
    padding: 20px;
}